
*.bin
*.bin
AndroidTrivia-Starter/.gradle/buildOutputCleanup/outputFiles.bin
*.bin
*.lock
*.bin
*.lock
*.bin
*.lock
AndroidTrivia-Starter/.gradle/6.5/fileHashes/fileHashes.bin
AndroidTrivia-Starter/.gradle/6.5/executionHistory/executionHistory.lock
AndroidTrivia-Starter/.gradle/6.5/executionHistory/executionHistory.bin
*.bin
